* {
    box-sizing: border-box;
}
:root {
    --primary-color: #0f1b4c;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}
/* Common */
a {
    text-decoration: none;
}
.content {
    width: 1110px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block;
    min-width: 98px;
    padding: 18px 16px;
    border-radius: 12px;
    background: var(--primary-color);
    color: #fff;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
}
.btn:hover {
    opacity: 0.9;
}
/* Header */
.header {
    position: relative;
    height: 100vh;
    background: #e6f0ff;
}
.navbar {
    display: flex;
    align-items: center;
    padding-top: 38px;
}
.navbar ul {
    margin-left: 50px;
    display: flex;
}
.navbar .actions {
    margin-left: auto;
}
.navbar ul a {
    color: #4f5361;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 8px 14px;
}
.navbar ul a:hover {
    text-decoration: underline;
}
.navbar .action-link {
    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 500;
}
.navbar .action-btn {
    padding: 13px 16px;
    margin-left: 18px;
    border-radius: 8px;
}
.navbar .action-link:hover {
    color: green;
}

.hero {
    margin-top: 130px;
}
.hero .info {
    width: 50.4%;
}
.hero .sub-title {
    color: #687690;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.018rem;
}
.hero .title {
    margin-top: 8px;
    color: #000336;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 1.19;
}
.hero .desc {
    margin-top: 30px;
    color: #5a6473;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.78;
}
.hero-cta {
    margin-top: 40px;
    min-width: 170px;
}
.hero .hero-img {
    position: absolute;
    right: calc((100vw - 1110px) / 2 - 100px);
    bottom: 0;
}
/* =========Clients====== */
.clients {
    margin-top: 122px;
}
.clients .row {
    display: flex;
    justify-content: space-between;
}
.clients .decs {
    color: #7d8589;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.25;
}
.clients .row-desc {
    margin-top: 23px;
}
.clients .imgs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 96px;
}
/* ========Guides========== */
.guides {
    margin-top: 200px;
}
.guides .sub-title {
    color: #000339;
    text-align: center;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1;
    position: relative;
}

.guides .sub-title::before {
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    display: inline-block;
    width: 41px;
    height: 4px;
    border-radius: 12px;
    background: #000339;
    position: absolute;
}
.guides .descr {
    width: 459px;
    max-width: 100%;
    color: #5a6473;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.88;
    margin: 20px auto 0;
}
.guides .list-guide {
    margin-top: 70px;
    display: flex;
    justify-content: center;
}
.guides .guide-item {
    margin: 0 70px;
    text-align: center;
}
.guides .title {
    color: #3b3c45;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.1;
    margin-top: 26px;
}
.guide-item .link {
    display: inline-block;
    margin-top: 10px;
    color: #0689ff;
    font-size: 1.4rem;
    font-weight: 600;
}
.guide-item .arrow {
    margin-left: 6px;
}
.guide-cta {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.guide-cta .btn {
    min-width: 170px;
}
/* ===============Features========== */
.features {
    margin-top: 120px;
    padding-top: 110px;
    background: #f5fafe;
}
.features .sub-title {
    color: #000339;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 0.35;
}
.features .row {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}
.features .desc {
    color: #5a6473;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.87;
}
.features .link {
    color: #0689ff;
    text-align: right;
    font-size: 1.8rem;
    font-weight: 600;
}
.features .arrow {
    position: relative;
    top: -2px;
}
.features .list {
    margin-top: 70px;
    gap: 30px;
    display: flex;
}
.features .item {
    flex: 1;
    border-radius: 12px;
}
.features .item .thumb {
    width: 100%;
    height: 227px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.features .item .body {
    padding: 17px 38px 22px 20px;
}
.features .item .title {
    color: #000339;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.5;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.features .item .title a {
    color: #000339;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.5;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.features .body .decs {
    margin-top: 11px;
    color: #a3a6ab;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.5;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.features .body .info {
    margin-top: 21px;
    display: flex;
    align-items: center;
}
.features .item .icon {
    margin-left: 23px;
}
.features .item .icon:first-child {
    margin-left: 0;
}
.features .item .label {
    margin-left: 8px;
    color: #4d4d52;
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 0.01em;
}
